<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <!--<% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>-->
    <div class="content index my2">
    	<%- partial('_partial/header') %>
        <!--<% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %> -->
        <%- body %>
    </div>
    <!--<% if (is_post()) { %>
      <%- partial('_partial/post/actions_mobile') %>
    <% } %> -->
    <%- partial('_partial/footer') %>
</body>
</html>
<%- partial('_partial/styles') %>
<%- partial('_partial/scripts') %>
