<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (config.author) { %><%- config.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
 <li><a class="icon" href="<%- url_for(page.prev.path) %>"><span id="i-prev" class="info"><%= __('post.desktop.previous') %></span></a></li>
 <li><a class="icon" href="<%- url_for(page.next.path) %>"><span id="i-next" class="info"><%= __('post.desktop.next') %></span></a></li>
<%- partial('_partial/comments') %>
