<footer id="footer">
  <div class="footer-left">
    Anti-copyright <div style="transform: rotate(180deg);font: 18px Arial, sans-serif;display: inline-block;">&copy;</div> <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
